@import 'variables';

body {
  padding: 0;
  margin: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
input {
  height: 30px;
  margin: 5px auto;
  padding: 5px 5px 5px 10px;
  font-size: 1.2rem;
  background-color: #eaeaea;
  border: #000 solid 1px;
  border-radius: 5px;
  &.error {
    border-color: $errorColor;
  }
}
.btn {
  padding: $padding $padding*2;
  background: $green-bg;
  color: #ffffff;
  border: 0;
  border-radius: $radius;
  outline: none;
  cursor: pointer;
  &:hover {
    background: $green-bg-hover;
  }
  &:disabled {
    cursor: default;
    background-color: gray;
  }
}